<section class="faq">
	<div class="faq__container">
		<div class="faq__side">
			<div class="tag">
				<p class="tag__text">faq</p>
			</div>
			<h3 class="default__title">
				PERGUNTAS <br />
				FREQUENTES
			</h3>
		</div>
		<div class="faq__content">
			<div class="accordion" id="accordionExample">
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingOne">
						<button
							class="accordion-button"
							type="button"
							data-bs-toggle="collapse"
							data-bs-target="#collapseOne"
							aria-expanded="true"
							aria-controls="collapseOne"
						>
							1. Como posso solicitar um orçamento?
						</button>
					</h2>
					<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							Envie seus documentos ou textos através do <a href="https://www.atlastraducoes.com.br/orcamento/" target="_blank">formulário em nosso site</a>,
							indicando o serviço que deseja, os idiomas do material, nível de urgência e quaisquer outras informações pertinentes. <br /><br />

							Caso seus arquivos ultrapassem o limite de tamanho, encaminhe diretamente para o e-mail:
							<a href="mailto:contato@atlastraducoes.com">contato@atlastraducoes.com</a>. Responderemos o mais breve possível com uma proposta detalhada para o
							serviço solicitado.
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingTwo">
						<button
							class="accordion-button collapsed"
							type="button"
							data-bs-toggle="collapse"
							data-bs-target="#collapseTwo"
							aria-expanded="false"
							aria-controls="collapseTwo"
						>
							2. Qual o prazo de entrega?
						</button>
					</h2>
					<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							Disponibilizamos variados prazos de entrega, que podem influenciar o custo final: <br />
							<br />
							Urgente: até 72h <br />Normal: até 6 dias úteis<br />
							Estendido: até 10 dias úteis
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingThree">
						<button
							class="accordion-button collapsed"
							type="button"
							data-bs-toggle="collapse"
							data-bs-target="#collapseThree"
							aria-expanded="false"
							aria-controls="collapseThree"
						>
							3. Qual o preço?
						</button>
					</h2>
					<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							Nossa cobrança começa a partir de R$ 0,13 a R$ 0,25 (valor sujeito a alterações). No entanto, o valor final é determinado após avaliação do
							material enviado. Cada projeto tem suas particularidades e, por isso, nossos orçamentos são sempre personalizados de acordo com suas necessidades.
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingFour">
						<button
							class="accordion-button collapsed"
							type="button"
							data-bs-toggle="collapse"
							data-bs-target="#collapseFour"
							aria-expanded="false"
							aria-controls="collapseFour"
						>
							4. Vocês formatam meu artigo/trabalho?
						</button>
					</h2>
					<div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							Sim, oferecemos serviços de formatação de artigos científicos de acordo com diversas normas, incluindo ABNT, APA, Chicago e MLA, entre outras.
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingFive">
						<button
							class="accordion-button collapsed"
							type="button"
							data-bs-toggle="collapse"
							data-bs-target="#collapseFive"
							aria-expanded="false"
							aria-controls="collapseFive"
						>
							5. Vocês emitem nota fiscal?
						</button>
					</h2>
					<div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
						<div class="accordion-body">Sim, fornecemos nota fiscal para todos os nossos serviços.</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
