<section class="testimonials">
	<div class="testimonials__container">
		<h3 class="default__title">O que nossos clientes dizem</h3>

		<div class="testimonials__content">
			<div class="testimonials__card">
				<p class="testimonials__card--text">
					"Já fiz vários serviços de tradução e revisão da escrita científica em inglês com eles e em todos eles fiquei extremamente satisfeito. Além disso, são
					extremamente atenciosos, entregam o serviço dentro do prazo e têm um preço muito bom quando comparado com outras empresas do mercado. Com certeza vou
					fazer mais serviços com eles!"
				</p>
				<div class="avatar">
					<div class="avatar__img">
						<img src="./assets/renan.png" alt="" />
					</div>
					<div class="avatar__infos">
						<p class="avatar__title">Renan Resende</p>
					</div>
				</div>
			</div>
			<div class="testimonials__card">
				<p class="testimonials__card--text">"Trabalho impecável, difícil encontrar empresas com um nível de entrega assim. Parabéns."</p>
				<div class="avatar">
					<div class="avatar__img">
						<img src="./assets/suza.png" alt="" />
					</div>
					<div class="avatar__infos">
						<p class="avatar__title">Suellen Veronez</p>
					</div>
				</div>
			</div>
			<div class="testimonials__card">
				<p class="testimonials__card--text">
					"A Empresa atua com bastante seriedade. Desenvolve um trabalho técnico com qualidade. Já fiz uma tradução para o inglês que recebeu elogios dos
					avaliadores de uma publicação internacional. Recomendo!"
				</p>
				<div class="avatar">
					<div class="avatar__img">
						<img src="./assets/unnamed.png" alt="" />
					</div>
					<div class="avatar__infos">
						<p class="avatar__title">Jean Marcos da Silva</p>
					</div>
				</div>
			</div>
		</div>
		<div class="button--container">
			<a href="#" class="button bigger white">leia todas as avaliações</a>
		</div>
	</div>
</section>
