<section class="testimonials" id="testimonials">
	<div class="testimonials__container">
		<h3 class="default__title">O que nossos clientes dizem</h3>

		<div class="testimonials__content">
			<div class="testimonials__card">
				<p class="testimonials__card--text">
					"Já fiz vários serviços de tradução e revisão da escrita científica em inglês com eles e em todos eles fiquei extremamente satisfeito. Além disso, são
					extremamente atenciosos, entregam o serviço dentro do prazo e têm um preço muito bom quando comparado com outras empresas do mercado. Com certeza vou
					fazer mais serviços com eles!"
				</p>
				<div class="avatar">
					<div class="avatar__img">
						<img src="./assets/renan.png" alt="" />
					</div>
					<div class="avatar__infos">
						<p class="avatar__title">Renan Resende</p>
					</div>
				</div>
			</div>
			<div class="testimonials__card">
				<p class="testimonials__card--text">
					"A Atlas Assessoria Linguística é uma empresa extremamente comprometida com a qualidade e prazo das entregas. Sou cliente há anos e já fiz desde
					revisões de trabalhos (dissertação e tese) a artigos em periódicos nacionais e internacionais e em todos os serviços fui muito bem atendida. A
					metodologia é diferenciada, pois eles comparam as traduções com diversos estudos naquela determinada área do conhecimento, o que traz qualidade e
					personalização. Outro ponto super positivo é a assessoria no pós atendimento, no qual a empresa se dispõe a auxiliar na carta resposta aos editores e
					revisão do manuscrito quando necessário. Deixo registrado minha recomendação e meu agradecimento especial ao Reneu que sempre me atendeu com prontidão
					e gentileza."
				</p>
				<div class="avatar">
					<div class="avatar__img">
						<img src="./assets/magali.png" alt="" />
					</div>
					<div class="avatar__infos">
						<p class="avatar__title">Magali Costa Oliveira</p>
					</div>
				</div>
			</div>
			<div class="testimonials__card">
				<p class="testimonials__card--text">
					"A Empresa atua com bastante seriedade. Desenvolve um trabalho técnico com qualidade. Já fiz uma tradução para o inglês que recebeu elogios dos
					avaliadores de uma publicação internacional. Recomendo!"
				</p>
				<div class="avatar">
					<div class="avatar__img">
						<img src="./assets/unnamed.png" alt="" />
					</div>
					<div class="avatar__infos">
						<p class="avatar__title">Jean Marcos da Silva</p>
					</div>
				</div>
			</div>
		</div>
		<div class="button--container">
			<a
				href="https://www.google.com/search?q=atlas+assessoria+linguistica#lrd=0x9503cb4826e22489:0x8dfc0c16b3678214,1,,,"
				target="_blank"
				class="button bigger white"
				>leia todas as avaliações</a
			>
		</div>
	</div>
</section>
